<p id="notice"><%= notice %></p>

<h1>Listing Exchanges</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Recipient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exchanges.each do |exchange| %>
      <tr>
        <td><%= exchange.amount %></td>
        <td><%= exchange.recipient %></td>
        <td><%= link_to 'Show', exchange %></td>
        <td><%= link_to 'Edit', edit_exchange_path(exchange) %></td>
        <td><%= link_to 'Destroy', exchange, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exchange', new_exchange_path %>

<p>Total transactions is <%=@transactions%></p>
<p>Total list_of_transactions is <%=@list_of_transactions%></p>
<p>Total balance <%=@balance%></p>
<p>Total current_monthly_spendings <%=@current_monthly_spendings%></p>
<p>Total last_months_spendings <%=@last_months_spendings%></p>
